
# VITE_BASE_URL=https://68eff166b06cc802829f3bbf.mockapi.io/api/addresses
VITE_BASE_URL=
VITE_TWILIO_ACCOUNT_SID = 
VITE_TWILIO_AUTH_TOKEN = 
VITE_SUPABASE_URL = 
VITE_SUPABASE_ANON_KEY = 
VITE_EDGE_FUNCTION_URL = 